<div id="login-container">

	<div id="desc-panel">
		<h2>Make klasRoom a part of your technology life!</h2>
		<p>Discover things beyond real-world schools. Enrich your knowledge and skills in technology with klasRoom as your partner. You get more out of learning, you get more out of life.</p>
		<p>Join klasRoom for free and discover the luxury of virtual tutorial features by</p>
		<ul>
			<li> Creating your own tutorial room
			<li> Accepting unlimited participants into your own tutorial room
			<li> Sharing ideas through chat-driven tutorial rooms
			<li> Joining tutorial session rooms to acquire specialized learning domains
			<li> Rendering and viewing interactive discussions via real-time canvas drawings and illustrations
			<li> Peeking at participants profile for social networking purposes
		</ul>
	</div>

	<div id="login-form">
	<form action="/dmz/login" method="post">
		<h2>Welcome! Please log in.</h2>

		<label>Username:</label>
		<input type="text" required name="username" class="text ui-widget-content ui-corner-all"/><br/>
		<label>Password:</label>
		<input type="password" required name="password" class="text ui-widget-content ui-corner-all"/>
		<input id="login" type="submit" class="buttonLogin" value="Sign In"/>
		<hr><br>
		<a>New to klasRoom? </a>
		<a id="signup" href="#"> Create an Account</a>

	</form>

	</div>
</div>

