
<div id = "signup-form" align = "left" title="Create a new account" >
<p>Please fill out the form.</p>
<form action="/dmz/signup" method="post">

	<label for="username">Username:</label>
	<input type="text" id="username" required name="username" class="text ui-widget-content ui-corner-all"/ ><br/>
	<label>Name:</label>
	<input type="text" required name="name" class="text ui-widget-content ui-corner-all"/><br/>
	<label>Contact:</label>
	<input type="text" required name="contact" class="text ui-widget-content ui-corner-all"/><br/>
	<label>School:</label>
	<input type="text" required name="school" class="text ui-widget-content ui-corner-all"/><br/>
	<label>Skills:</label>
	<input type="text" required name="skills" class="text ui-widget-content ui-corner-all"/><br/>	
	<label>Email:</label>
	<input type="email" required name="email" class="text ui-widget-content ui-corner-all"/><br/>		
	<label>Password:</label>
	<input id="password" type="password" required name="password" class="text ui-widget-content ui-corner-all"/>
	<input id="strength" class="weak" type="text" value="weak" disabled /><br>

	<label>Repeat password:</label>
	<input type="password" required name="password2" class="text ui-widget-content ui-corner-all"/><br>
	<input id="submit" type="submit" value="Submit"/>

</form>
</div>



